/* SOLO ESTILOS PARA CODIGOS */
body {
    margin: 0px;
    height: 100%;
}

header h1 {
    font-style: normal;
    text-align: center;
    border: solid 3px black; /* Esto es para ver los limites del Div , luego se debe borrar*/
}





/* SOLO ESTILOS PARA ID */

/* Div de links entre paginas */
#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 3px black; /* Esto es para ver los limites del Div , luego se debe borrar*/
    margin: 1%;
}

#divExteriorImagenPortada {
    justify-items: center;
    border: solid 3px black; /* Esto es para ver los limites del Div , luego se debe borrar*/
    margin: 1%;
}

#divLimitePortada {
    width: 40%;
    border: solid 3px black; /* Esto es para ver los limites del Div , luego se debe borrar*/
    margin: 1%;
}

#divTxtEmpresaPortadaSesion {
    width: 20%;
    text-align: center;
    border: solid 3px black; /* Esto es para ver los limites del Div , luego se debe borrar*/
    margin: 1%;
}

#divTxtEmpresaPortadaSesion h2 {
    font-size: 90%;
    margin: 1%;
}

#divExteriorInicioSesion {
    justify-items: center;
    border: solid 3px black; /* Esto es para ver los limites del Div , luego se debe borrar*/
    margin: 1%;
}

#divTxtSesion {
    width: 50%;
    border: solid 3px black;   /* Esto es para ver los limites del Div , luego se debe borrar*/
    margin: 1%;
}

#formularioInicioSesion {
    width: 50%;
    border: solid 3px black;   /* Esto es para ver los limites del Div , luego se debe borrar*/
    margin: 1%;
}

#tblInicioSesion {
    width: 97%;
    margin: 1%;
}





/* SOLO ESTILOS DE CLASES */

/* Esta clase se asegura de mantener separados los elementos para pantallas muy pequeñas */
.claseSeparacionItems {
    margin: 1%;
}

.imagenPortada {
    height: 45%;
    width: 97%;
    margin: 1%;
}

.inputSesion {
    width: 90%;
    margin: 1%;
}

/* Esta clase es para probar los limites de los elementos*/
.claseBorde {
    border: solid 3px black;   /* Esto es para ver los limites del Div , luego se debe borrar*/
    margin: 1%;
}